html
	head
		title Should I Wear A Raincoat?
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.container
			div.loading
				h1 Checking the weather...
			div.raining
				h1 Yep, it's raining!
			div.no
				h1 Nah you should be good.