html
	head
		title Raincoat.io
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,900")
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/img/rain.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div#bg

		div#credit
			h1 Made with &#9829; by <a href="http://oskarradon.com">Oskar Radon</a>
		div.container


			header
				h1#logo Raincoat.io
				h1#about About
			
			div#intro
				div
					h1 Raincoat.io
					h4 Heading out? Let us help you decide whether or not to bring a raincoat.

			div#loading
				h1 Checking the weather...

			div#result
				h1#result-text

			div.temp-tile#now
				h4 Right now
				img(src="")
				h2.description
				div.high-temp
					p High
					h4
				div.low-temp
					p Low
					h4

			div.temp-tile#later
				h4 Later
				img(src="")
				h2.description
				div.high-temp
					p High
					h4
				div.low-temp
					p Low
					h4 
	
		footer
			script(src="js/TweenMax.min.js")
			script(src="js/app.min.js")