html
	head
		title Bring A Raincoat
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
		link(rel="stylesheet" href="css/styles.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/img/rain.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.container

			header
				h1#logo Raincoat.io
				h1#about About

			div#loading
				h1 Checking the weather...

			div#result
				h1#result-text

			div.temp-tile#now
				h4 Right now
				img(src="")
				h2.description
				div.temps
					p High
					p Low
					h5.high-temp
					h5.low-temp

			div.temp-tile#later
				h4 Later
				img(src="")
				h2.description
				div.temps
					p High
					p Low
					h5.high-temp
					h5.low-temp
	
		footer
			script(src="js/scripts.min.js")