@import "bourbon";
@import "_/grid-settings";
@import "neat";


$breakpoint-value: 500px;
$lg: new-breakpoint(min-width $breakpoint-value);

body {
	margin: 0px;
	padding: 40px;
	background: linear-gradient(#6174FA, #B0E0FF);
}

.container {
	font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
	@include outer-container;
}


#intro {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	h1 {
		font-weight: 900;
		margin: 0 0 5px;
		@include media($lg) {
			font-size: 52px;
		}
	}
	h4 {
		font-weight: 400;
		margin: 0;
		width: 200px;
		@include media($lg) {
			font-size: 24px;
			width: 300px;
			line-height: 2rem;
		}
	}
}

header {
	font-size: 12px;
	@include media($lg) {
		font-size: 16px;
	}
	#logo {
		float: left;
		margin: 0;
	}
	#about {
		float: right;
		margin: 0;
		&:hover {
			color: white;
			cursor: pointer;
			transition: .5s;
		}
	}
}

#loading {
	@include span-columns(12);
	text-align: center;
	padding: 20vh 0 0;
	@media (min-height: 800px) {
		padding: 30vh 0 0;
	}
}

// hide everything on page load
header, #intro, #loading, #result, .temp-tile {
	display: none;
}