@import "bourbon";
@import "_/grid-settings";
@import "neat";


$breakpoint-value: 500px;
$lg: new-breakpoint(min-width $breakpoint-value);

body {
	margin: 0px;
	padding: 40px;
	overflow: hidden;
}

#bg {
	width: 100vw;
	height: 300vh;
	background: linear-gradient(#FFCB00, #FF6666, #6174FA, #B0E0FF);
	position: absolute;
	top: -200vh;
	left: 0px;
	z-index: -9;
}

.container {
	font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
	@include outer-container;
}


#intro {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	h1 {
		font-weight: 900;
		margin: 0 0 5px;
		@include media($lg) {
			font-size: 52px;
		}
	}
	h4 {
		font-weight: 400;
		margin: 0;
		width: 200px;
		@include media($lg) {
			font-size: 24px;
			width: 300px;
			line-height: 2rem;
		}
	}
}

header {
	font-size: 12px;
	@include media($lg) {
		font-size: 16px;
	}
	#logo {
		float: left;
		margin: 0;
	}
	#about {
		float: right;
		margin: 0;
		&:hover {
			color: white;
			cursor: pointer;
			transition: .5s;
		}
	}
}

#loading {
	@include span-columns(12);
	text-align: center;
	padding: 20vh 0 0;
	@media (min-height: 800px) {
		padding: 30vh 0 0;
	}
}

#result{
	@extend #loading;
}

.temp-tile {
	@include span-columns(6);
	@include omega(n);
	padding-top: 4vh;
	text-align: center;
	@include media($lg) {
		@include span-columns(3);
	}
	@media (min-height: 600px) {
		padding-top: 15vh;
	}
	img {
		width: 40px;
		@include media($lg) {
			width: 80px;
		}
	}
	h4 {
		font-weight: normal;
		font-size: 12px;
	}
	.description {
		font-size: 18px;
		@include media($lg) {
			font-size: 24px;
		}
	}
	.high-temp p, .low-temp p {
		font-size: 12px;
	}
	.high-temp, .low-temp {
		display: none;
	} 
}

#now {
	@include media($lg) {
		@include shift(3);
	}
}

// #later {
// }

// hide everything on page load
header, #intro, #loading, #result, .temp-tile {
	display: none;
}
//  #intro, #result{
// 	display: none;
// }